<template>
  <div id="app">
    <!-- <a v-link="{path: '/register'}">REGISTER</a>
    <a v-link="{path: '/login'}">LOGIN</a> -->
    <p>Test</p>
    
    <router-view></router-view>
  </div>
</template>

<script>
// import Register from './components/Register'
// import Login from './components/Login'

// export default {
//   components: {
//     Register,
//     Login
//   }
// }
export default {
  
}
</script>