<template>
    <p>
        ==&gt; This is a separate single-file component. &lt;==
    </p>
</template>
<style scoped>

</style>
<script>
// export default {
// }
module.exports = {
    data: function() {
        return {
            who: 'world'
        }
    }
}
</script>

